<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>Đăng nhập</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- #region Styling refs -->
        <link rel="icon" type="image/png" href="~/favicon.ico" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/login/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/login/material-design-iconic-font.min.css" rel="stylesheet" />
        <link href="~/Content/login/animate.css" rel="stylesheet" />
        <link href="~/Content/login/hamburgers.min.css" rel="stylesheet" />
        <link href="~/Content/login/animsition.min.css" rel="stylesheet" />
        <link href="~/Content/login/select2.min.css" rel="stylesheet" />
        <link href="~/Content/login/daterangepicker.css" rel="stylesheet" />
        <link href="~/Content/login/util.css" rel="stylesheet" />
        <link href="~/Content/login/main.css" rel="stylesheet" />
        <link href="~/Content/custom/login.css" rel="stylesheet" />
        <!-- #endregion -->        
    </head>
    <body>
        @RenderBody()
        <!-- #region Scripting refs -->
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/login/animsition.min.js"></script>
        <script src="~/Scripts/login/select2.min.js"></script>
        <script src="~/Scripts/login/moment.min.js"></script>
        <script src="~/Scripts/login/daterangepicker.js"></script>
        <script src="~/Scripts/login/countdowntime.js"></script>
        <script src="~/Scripts/login/main.js"></script>
        <script src="~/Scripts/custom/login.js"></script>
        <!-- #endregion -->
    </body>
</html>